@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap');

/* Color Palette */
* {
  background: #eff1f5; /* Base */
  font-family: 'JetBrains Mono', monospace;
  font-weight: 500;
  color: #4c4f69; /* Text */
}

body {
  min-height: 95vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

h3 {
  display: inline-block;
  font-size: inherit;
  padding: 0 0.5em;
  margin-bottom: 0;
  background-color: #ea7676; /* Overlay0 */
  color: white; /* Text */
}

a {
  color: #ea7676;
  text-decoration: none;
}

footer {
  color: #dce0e8; /* Crust */
  margin-top: auto;
}

.text-secondary {
  color: #5c5f77; /* Subtext1 */
}

.linkedin:hover {
  color: #04a5e5; /* Sky */
}

.github:hover {
  color: #1e66f5; /* Blue */
}

.teicee:hover {
  color: green;
}

.charm:hover {
  color: #d20f39; /* Red */
}

.cursor {
  color: #ea7676;
}

.output {
  width: 100%;
  max-width: 80ch;
  animation: fade 5s;
}

.typeme {
  width: 30ch;
  animation: typing 2s steps(25), blink .5s step-end infinite alternate;
  white-space: nowrap;
  overflow: hidden;
  border-right: 10px solid #ea7676;
}

/* animation */

@keyframes fade {
  0% { opacity: 0}
  50% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes typing {
  0% { width: 0; }
  100% { width: 30ch; }
}

@keyframes blink {
  50% { border-color: transparent;}
}

/* dynamic resizing */
@media (min-width:600px) {
  body {
    font-size: 1.25rem;
  }
}

.cv-container {
  width: 40%;
  height: auto;
  padding-top: 1rem;
  animation: fade 5s;
  img {
    border: 1px solid #ea7676;
    border-radius: 5px;
    width: 100%;
    height: auto;
  }
}

/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 60px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

.close {
  background: none;
  position: absolute;
  top: 15px;
  right: 35px;
  color: #4c4f69; /* Text */
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #6c6f85; /* Subtext0 */
  text-decoration: none;
  cursor: pointer;
}
